[submodule "external/SolidPython"]
	path = external/SolidPython
	url = https://github.com/SolidCode/SolidPython
[submodule "external/text_on"]
	path = external/text_on
	url = https://github.com/brodykenrick/text_on_OpenSCAD
[submodule "external/MCAD"]
	path = external/MCAD
	url = https://github.com/openscad/MCAD
[submodule "external/Voronoi_generator"]
	path = external/Voronoi_generator
	url = https://github.com/felipesanches/OpenSCAD_Voronoi_Generator
[submodule "external/scad_utils"]
	path = external/scad_utils
	url = https://github.com/gabr42/scad-utils
[submodule "external/dotSCAD"]
	path = external/dotSCAD
	url = https://github.com/JustinSDK/dotSCAD
[submodule "external/gears"]
	path = external/gears
	url = https://github.com/chrisspen/gears
